.nav-bar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 80%;
    margin-left: auto;
    margin-right: auto; */
}
.nav-logo {
    order: 1;
    margin: 5px;
}
.nav-logo img {
    vertical-align: middle;
    width: 200px;
}
.nav-search {
    flex: 2 2;
    order: 2;

    margin-right: 10px;
    margin-left: 10px;
}
.nav-search input {
    width: 100%;
}
.header-link {
    order: 3;
    margin-right: 10px;
}

.centered-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.profile {
    order: 1;
    flex-grow: 2;
}

.newsfeed {
    order: 2;
    flex-grow: 3;
}

.trending {
    order: 3;
    flex-grow: 1;
}

/* trending-box css */
.trending-box {
    background-color: white;

    padding-left: 5px;
}
.trending-box ul {
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
}

.trending-box ul li {

    margin-top: 5px;
}

@media screen and (min-width: 960px) {
    .trending-box {
        margin-left: 20px;
        margin-top: 20px;

        border-style: solid;
        border-width: 2px;
        border-color: black;
        border-radius: 10px;
        box-shadow: 7px 7px 10px #aaaaaa;
    }
}

@media screen and (max-width: 960px) {
    .centered-content {
        width: auto;
    }
    .main-container {
        flex-direction: column;
        justify-content: space-around;
    }
    .newsfeed {
        width: 80%;
        flex: 1 1;

        margin-left: auto;
        margin-right: auto;
    }
    .trending {
        order: 1;
    }
    .trending-box {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;

        background-color: #FFDA61;
    }
    .trending-box h4, .trending-box ul, .trending-box ul li {
        display: inline;
    }
    .profile {
        order: 3;
        display: none;
    }
}
@media screen and (max-width: 560px) {
    .newsfeed {
        width: 100%;
    }

    .nav-bar {
        width: 100%;
    }
}

.hidden {
    visibility: hidden;
}

.buttn {
    border-radius: 10px;
    background-color: lightblue;
    padding: 5px 10px 5px 10px;
    white-space: nowrap;
}
.buttn a {
    text-decoration: none;
    text-decoration-color: yellow;
}
.buttn a:visited {
    color: gray;
}
.buttn a:link {
    color: darkblue;
}
.buttn a:hover {
    color: white;
}
.buttn:hover {
    background-color: darkblue;
}

.icon {
    height: 15px;
}


header {
    background-color: #229AE3;
}

body {
    margin: 0px;

    font-family:  Helvetica;

    background-color: #D4E6F1;
}

footer {
    clear: both;
}

.post {
    background-color: white;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #aaaaaa;

    margin-top: 10px;
    margin-bottom: 10px;
}

.cover-image {
    width: 100%;
    object-fit: cover;
}

.cover-image img {
    border-radius: 10px 10px 0px 0px;
}

div .cover-image {
    height: 90px;
}

.profile-image-div .profile-image {
    width: 100px;
    height: : 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: -50px;
    left: 20px;
}
.profile-image-div {
    position: absolute;
}

.profile-name {
    padding-left: 140px;
    padding-top: 10px;

    font-weight: bold;
}

.post-text {
    padding: 4px 20px 4px 20px;
}

.tags {
    padding-left: 20px;
    padding-bottom: 20px;
}

/*form label {
    float: left;
    clear: both;
}*/

.container-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    height: 100%;
    width: 100%;
}

.login-div {
    order: 1;
    margin-left: auto;
    margin-right: auto;

    padding: 30px;

    background-color: white;
    border-radius: 40px;

}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form .login-input {
    order: 1;
}

.login-form .login-input a img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.login-form .login-input label {
    float: left;
    clear: both;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.login-form .login-input label input {
    float: left;
    clear: both;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 27px;
}

.login-form .login-submit {
    order: 2;
    align-self: flex-end;
}

.login-form .login-submit {
    order: 2;
    align-self: flex-end;
}

.login-submit input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 20px;
}

/* new post css */

.new-post {
    background-color: white;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #aaaaaa;

    margin-top: 10px;
    margin-bottom: 10px;

}

.new-post form {
    display: flex;
    flex-direction: column;
}

.new-post form textarea {
    order: 1;

    align-self: center;

    width: 95%;
    margin: 10px;

}
.new-post form .post-addition {
    order: 2;
}

.post-addition label {
    margin: 10px;
}

form .submit-post {
    order: 3;
    align-self: flex-end;

    margin: 10px;
}
.submit-post input {

    padding: 5px 20px 5px 20px;

}

/* my profile */

.my-profile {
    background-color: white;

    margin-right: 20px;
    margin-top: 20px;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #aaaaaa;
}

div .my-profile .cover-image {
    width: 170px;
    height: 90px;
}

.my-profile  .profile-image {
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    top: -50px;
    left: 34px;
}
.my-profile  .profile-image-div {
    position: absolute;
}

.my-profile  .profile-name {
    padding-left: 10px;
    padding-top: 40px;

    font-weight: bold;
}
