{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<title>Microblog</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!--<noscript>
  <meta http-equiv="refresh" content="0; url=home-noscript.html">
</noscript>-->
<link rel="stylesheet" href="{% static 'microblog/css/main.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

<body>
    <div id="dropdown-menu">
        <!--<div class="menu-profile">
            <img class="profile-image" src="" alt="profile picture" />

            <a href="profile.html"><h2 class="profile-name">Janez Novak</h2></a>
            <div class="tag"><span class="sprite sprite-people"></span><span>168</span></div>
            <div class="tag"><span class="sprite sprite-people"></span><span>120</span></div>
        </div>

        <div class="container-menu">
            <div class="menu-search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
            </div>
            <a href="index.html" class="menu-singout"><div class="buttn">
                Sing out
            </div></a>
        </div> -->
    </div>

    <header>
        <div class="nav-bar">
            <div class="nav-logo">
                <a href="{% url 'index' %}"><img src="{% static 'microblog/logo.png' %}" alt="Microblog" /></a>
            </div>
            <div class="nav-search">
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{% blocktrans %}Search posts...{% endblocktrans %}" name="search_str">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">{% blocktrans %}Search{% endblocktrans %}</button>
                        </span>
                    </form>
                    </div>
                </form>
            </div>
            {% if user.is_authenticated %}

            <div class="dropdown header-link">
                <button class=" dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    <img class="little-profile-img" src="/{{ profile.profileImage.url }}">
                </button>
                <ul class="dropdown-menu">
                    <li>{% blocktrans %}Logged in as{% endblocktrans %} {{ user.username }}</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'profile' id=profile.user.id %}" >{% blocktrans %}Profile{% endblocktrans %}</a></li>
                    <li><a href="{% url 'settings' %}" >{% blocktrans %}Settings{% endblocktrans %}</a></li>
                    <li><a href="{% url 'logout' %}" >{% blocktrans %}Logout{% endblocktrans %}</a></li>
                </ul>
            </div>

            {% else %}
            <a href="{% url 'login' %}" class="header-link btn btn-default"><div >
                {% blocktrans %}Login{% endblocktrans %}
            </div></a>
            <a href="{% url 'register' %}" class="header-link btn btn-default"><div >
                {% blocktrans %}Register{% endblocktrans %}
            </div></a>
            {% endif %}
            <!--<a href="#" onclick="collapseMenu(event)" class="header-link-colapsed buttn" id="collapse-menu">
                <div class="sprite sprite-menu"></div>Menu
            </a>-->
        </div>
    </header>

    {% block main %}
          test123
    {% endblock %}

    <footer class="centered-content">
        <p>
            @MatijaKljun ~~~ {% blocktrans %}Copyright{% endblocktrans %} (c) 2016
        </p>
        {% get_available_languages as languages %}

        {% for lang_code, lang_name in languages %}
          {% language lang_code %}
            <a href="{% url 'index' %}">{{ lang_name }}</a>
          {% endlanguage %}
        {% endfor %}
    </footer>

    <script type="text/javascript" src=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'microblog/js/main.js' %}"></script>
</body>
</html>
