{% extends "microblog_web/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    <div class="centered-content">
        <div class="main-container">
            <div class="profile">
                <div class="my-profile">
                {% if user.is_authenticated %}
                    <div class="cover-image">
                        <img class="cover-image" src="/{{ profile.coverImage.url }}" alt="cover photo" />
                    </div>
                    <div class="profile-image-div">
                        <img class="profile-image" src="/{{ profile.profileImage.url }}" alt="profile picture" />
                    </div>
                    <a href="{% url 'profile' id=profile.user.id %}"><h2 class="profile-name">{{profile.displayName | upper}}</h2></a>
                    <div class="tag"><span class="sprite sprite-people"></span><span>168</span>{% blocktrans %}followers{% endblocktrans %}</div>
                    <div class="tag"><span class="sprite sprite-people"></span><span>120</span>{% blocktrans %}following{% endblocktrans %}</div>
                {% endif %}
                </div>
            </div>
            <div class="newsfeed">
                <div class="new-post" {% if not user.is_authenticated %} style="display: none;" {% endif %}>
                    <form id="newpost" action="{% url 'newpost' %}" method="POST">
                        {% csrf_token %}
                        <textarea class="form-control" rows="3" id="post-input" name="content"></textarea>
                        <input id="location_lat" class="hidden" type="text" name="location_lat" value="">
                        <input id="location_lon" class="hidden" type="text" name="location_lon" value="">

                        <a class="btn btn-primary" onclick="get_location()">{% blocktrans %}Add location{% endblocktrans %}</a>

                        <div class="clearfix">
                            <input class="btn btn-primary pull-right" type="submit" value="{% blocktrans %}Post{% endblocktrans %}"/>
                        </div>

                    </form>
                </div>
                <div class="posts" id="newsfeed">
                    {% for post in posts %}
                        {% include 'microblog_web/post.html' %}
                    {% endfor %}
                </div>
            </div>
            <div class="trending">
                <div class="trending-box">
                    <h4>{% blocktrans %}Trending{% endblocktrans %}:</h4>
                    <ul>
                        {% for hashtag in hashtags %}
                            <li class="btn btn-info"><a href="{% url 'hashtagSearch' hashtag=hashtag.name %}">#{{hashtag.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
