{% extends "microblog_web/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
<div class="container-middle">
    <div class="login-div">
        <div class="login-form">
            <a href="{% url 'index' %}"><img class="large-logo" src="{% static 'microblog/logo.png' %}" alt="logo"/></a>
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{% blocktrans %}Error{% endblocktrans %}!</strong> <label for="error">{{error}}</label>
                </div>
            {% endif %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">{% blocktrans %}Username{% endblocktrans %}: </label>
                    <input id="username" class="form-control" type="text" name="username" required/>
                </div>

                <div class="form-group">
                    <label for"password">{% blocktrans %}Password{% endblocktrans %}: </label>
                    <input id="password" class="form-control" type="password" name="password" required/>
                </div>

                <input class="btn btn-primary pull-right" type="submit" value="{% blocktrans %}Login{% endblocktrans %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
