<article class="post">

    <div class="cover-image">
        <img class="cover-image" src="" alt="cover photo" />
    </div>
    <div class="profile-image-div">
        <img class="profile-image" src="" alt="profile picture" />
    </div>
    <h2 class="profile-name">{{post.user.username}}</h2>
    <div class="post-text">
        <p>
            {{post.content}}
        </p>
    </div>
    <!-- post lcoation -->
    <div class="tags">
        <!--<a href=""><span class="buttn"><span class="sprite sprite-location"></span> Location</span></a>-->
    </div>
</article>
