{% load static %}
{% load microblogtags %}
{% load i18n %}

<article class="post">

    <div class="cover-image">
        <img class="cover-image" src="/{{ post.profile.coverImage.url }}" alt="cover photo" />
    </div>
    <div class="profile-image-div">
        <img class="profile-image" src="/{{ post.profile.profileImage.url }}" alt="profile picture" />
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2 class="post-name"><a href="{% url 'profile' id=post.profile.user.id %}">{{post.profile.displayName | upper}}</a></h2>
        </div>
        <div class="col-sm-2 col-sm-offset-1">
            <div class="dropdown">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>{{post.pub_date}}</li>
                {% if user == post.profile.user or user.is_superuser %}
                    <li role="separator" class="divider"></li>
                    <form class="delete-post" action="{% url 'delete_post' %}" method="post">
                        {% csrf_token %}
                        <input class="hidden" type="text" name="post_id" value="{{post.id}}"/>
                        <li><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>{% blocktrans %}Delete{% endblocktrans %}</button></li>
                    </form>

                {% endif %}

              </ul>
            </div>
        </div>
    </div>

    <div class="post-text">
            {{post.content|editpost}}
    </div>
    <!-- post lcoation -->
    <div class="tags">
        {% if post.location_lon and post.location_lat %}
            <a href="http://maps.google.com/?ll={{post.location_lat}},{{post.location_lon}}"><span class="buttn"><span class="sprite sprite-location"></span>{% blocktrans %}Location{% endblocktrans %}</span></a>
        {% endif %}
        <!--<a href=""><span class="buttn"><span class="sprite sprite-location"></span> Location</span></a>-->
    </div>
</article>
