{% load static %}
{% load microblogtags %}
<article class="post">

    <div class="cover-image">
        <img class="cover-image" src="{% static post.profile.coverImage %}" alt="cover photo" />
    </div>
    <div class="profile-image-div">
        <img class="profile-image" src="{% static post.profile.profileImage %}" alt="profile picture" />
    </div>
    <h2 class="profile-name"><a href="/microblog/profile/{{post.profile.user.id}}">{{post.profile.displayName | upper}}</a></h2>
    <div class="post-text">

            {{post.content|editpost}}

    </div>
    <!-- post lcoation -->
    <div class="tags">
        <!--<a href=""><span class="buttn"><span class="sprite sprite-location"></span> Location</span></a>-->
    </div>
</article>
