{% extends "microblog_web/base.html" %}
{% load static %}

{% block main %}
    <div class="centered-content">
        <div class="profile-site-container">
            <div class="profile-site">
                    <div class="cover-image">
                        <img class="cover-image" src="{% static 'microblog/img/cover-image.jpg' %}" alt="cover photo" />
                    </div>
                    <div class="profile-image-div">
                        <img class="profile-image" src="{% static 'microblog/img/profile-image.jpg' %}" alt="profile picture" />
                    </div>
                    <h1 class="profile-name">{{profile.displayName}} ({{profile.user.username}})</h1>
                    <div class="profile-desc">
                        <div class="profile-tags">
                            <div class="tag"><span class="sprite sprite-people"></span><span>168</span> followers</div>
                            <div class="tag"><span class="sprite sprite-people"></span><span>120</span> following</div>
                        </div>
                        <div class="profile-bio">
                            <p>
                                {{profile.description}}
                            </p>
                        </div>
                    </div>
            </div>
            <div class="profile-posts">
                {% for post in posts %}
                    {% include 'microblog_web/post.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
