{% extends "microblog_web/base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    <div class="centered-content">
        <div class="profile-site-container">
            <div class="profile-site">
                    <div class="cover-image">
                        <img class="cover-image" src="/{{ userprofile.coverImage.url }}" alt="cover photo" />
                    </div>
                    <div class="profile-image-div">
                        <img class="profile-image" src="/{{ userprofile.profileImage.url }}" alt="profile picture" />
                    </div>
                    <div class="row">
                        <h1 class="profile-name col-sm-7">{{userprofile.displayName}} ({{userprofile.user.username}})</h1>
                        {% if user.is_authenticated %}
                            {% if followed %}
                                <a type="button" class="btn btn-default  col-sm-2 col-sm-offset-1" href="{% url 'follow' userprofile.user.id %}">{% blocktrans %}Unfollow{% endblocktrans %}</a>
                            {% else %}
                                <a type="button" class="btn btn-success  col-sm-2 col-sm-offset-1" href="{% url 'follow' userprofile.user.id %}">{% blocktrans %}Follow{% endblocktrans %}</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="profile-desc">
                        <div class="profile-tags">
                            <div class="tag"><span class="sprite sprite-people"></span><span>168</span>{% blocktrans %}followers{% endblocktrans %}</div>
                            <div class="tag"><span class="sprite sprite-people"></span><span>120</span>{% blocktrans %}following{% endblocktrans %}</div>
                        </div>
                        <div class="profile-bio">
                            <p>
                                {{userprofile.description}}
                            </p>
                        </div>
                    </div>
                    {% if user.is_superuser %}
                        <form class="delete-user" action="{% url 'delete_profile' %}" method="post">
                            {% csrf_token %}
                            <input class="hidden" type="text" name="profile_id" value="{{userprofile.id}}"/>
                            <input class="btn btn-danger" type="submit" value="{% blocktrans %}Delete{% endblocktrans %}">
                        </form>
                    {% endif %}
            </div>
            <div class="profile-posts">
                {% for post in posts %}
                    {% include 'microblog_web/post.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
